<%= link_to repin_path(@pin), class: "btn btn-default", method: "post" do %>
  <i class="fa fa-plus-square" aria-hidden="true"></i>
  Repin!
<% end %> 
<div class="panel-body">
  <div class="row">
   <div class="col-md-1">
      <%= image_tag("ruby-logo-thumbnail.png") %>
    </div>
   <div class="col-md-3">
     <p>
      <%= @pin.text %>
     </p>
    </div>
  </div>
  <hr>
  <p><b>Visit <%= @pin.title %></b>
   <%= link_to "#{@pin.url}" %>
  </p>
</div>
<hr/>
<a href="/">
   <%= image_tag('rails-logo-thumbnail.png') %>
   Back to Home
</a>