<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<div class="header">
  		<h1>Welcome 'lil Ninjas and Sensei's. Today, You will Learn Ruby on Rails.</h1>

  <% if session[:user_id] %>
    <div class="pull-right">
      <h1>
        <%= "Hi, #{current_user.first_name}!" %>
      </h1>
      <button> 
        <h3>

          <%= link_to "LOG-OUT", logout_path(current_user), method: :delete %>  
        </h3>
      </button>
      <button> 
        <h3>
          <%= link_to 'ADD NEW PIN', new_pin_path %>
        </h3>
      </button>
       <button> 
        <h3>
          <%= link_to 'MY ACCOUNT', current_user %>
        </h3>
      </button>
  <% end %>
</div>
    <%= yield %>
  </div>
</body>
</html>
